<div class='holder'>

  <h3>It looks like your project doesn't have any data yet!</h3>


  <p>Let me help you get started:</p>

  <ol>
    <li><a href='#'>Assemble BioBoard electronics.</a></li>
    <li><a href='#'>Load software onto Arduino.</a></li>
    <li><a href='#'>Connect probes and cables.</a></li>
    <li><a href='#'>Start server software.</a></li>
    <li><a href='#'>Power on Arduino.</a></li>
    <li><a href='#'>Use this web app to view your data.</a></li>
  </ol>

  <p>If you have any questions, feel free to ask on the <a href='#'>forum</a>.</p>


</div>
